<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="petlocator.petlocator">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/LightNoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA6xRnCwqqk6EaTzUZYWVqiinrLPCSbAzo" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SignIn"
            android:label="@string/title_activity_sign_in">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Default_Activity"
            android:label="@string/title_activity_default_"
            android:theme="@style/LightNoActionBar" />
        <activity
            android:name=".Sign_Up"
            android:label="@string/title_activity_sign__up"
            android:parentActivityName=".Default_Activity"
            android:theme="@style/LightNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="petlocator.petlocator.Default_Activity" />
        </activity>
        <activity
            android:name=".FoundPetsActivity"
            android:label="@string/title_activity_found_pets"
            android:theme="@style/LightNoActionBar" />
        <activity
            android:name=".ViewLostReport"
            android:label="@string/title_activity_view_lost_report"
            android:theme="@style/LightNoActionBar" />
        <activity
            android:name=".ViewFoundReport"
            android:label="@string/title_activity_view_found_report"
            android:theme="@style/LightNoActionBar" />
        <activity android:name=".HomePage">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/LightNoActionBar" />
        <activity
            android:name=".UserProfile"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/LightNoActionBar" />
        <activity
            android:name=".ReportLostPet"
            android:label="@string/title_activity_report_lost_pet"
            android:theme="@style/LightNoActionBar" />
        <activity
            android:name=".Inbox"
            android:label="@string/title_activity_inbox"
            android:theme="@style/LightNoActionBar" />
        <activity android:name=".ReportFoundPet" />
        <activity
            android:name=".NearbyPets"
            android:label="@string/title_activity_nearby_pets"
            android:theme="@style/LightNoActionBar" />
        <activity
            android:name=".MyReports"
            android:label="@string/title_activity_my_reports"
            android:theme="@style/LightNoActionBar" />
    </application>

</manifest> <!-- <activity android:name=".MainActivity"> --><!-- <intent-filter> --><!-- <action android:name="android.intent.action.MAIN" /> --><!-- <category android:name="android.intent.category.LAUNCHER" /> --><!-- </intent-filter> --><!-- </activity> --><!-- <activity --><!-- android:name=".HomePage" --><!-- android:label="@string/title_activity_home_page" --><!-- android:theme="@style/LightNoActionBar"></activity> -->
